<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dev-toolbox-links" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" ui-sref-active="active">
        <span class="glyphicon glyphicon-wrench"></span>
        JS Developer's Toolbox
      </a>
    </div>
    <div class="collapse navbar-collapse" id="dev-toolbox-links">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="backend">Backend</a></li>
        <li ui-sref-active="active"><a ui-sref="frontend">Frontend</a></li>
        <li ui-sref-active="active"><a ui-sref="extra">Extras</a></li>
      </ul>
    </div>
  </div>
</nav>
