<div class="panel panel-info">
  <div class="panel-heading">{{$ctrl.tool.name}}</div>
  <div class="panel-body">
    <div class="col-sm-9">
      <h3>Description</h3>
      <ul>
        <li ng-repeat="description in $ctrl.tool.description" ng-bind-html="description"></li>
      </ul>
      <h3 ng-show="$ctrl.tool.files">Under the hood</h3>
      <ul>
        <li ng-repeat="file in $ctrl.tool.files">{{file}}</li>
      </ul>
      <h3 ng-show="$ctrl.tool.references">Additional references</h3>
      <ul>
        <li ng-repeat="reference in $ctrl.tool.references">
          <a ng-href="{{reference.link}}" target="_blank">{{reference.name}}</a>
        </li>
      </ul>
    </div>
    <div class="tool-logo col-sm-3">
      <img class="img-responsive" ng-src="{{$ctrl.tool.image}}" />
    </div>
  </div>
</div>
